.rows-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #4f6cff 0%, #b14dff 100%);
  min-height: 100vh;
  min-width: 100vw;
}
.row {
  display: grid;
  list-style: none;
  gap: 10px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  justify-content: center;
}
.overlay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  position: absolute;
  height: 400px;
  margin-top: 90px;
  width: 600px;
  padding: 40px 60px;
  border-radius: 25px;
  text-align: center;
  background-color: #564747;
  word-spacing: 5px;
  box-shadow: inset 0 0 10px rgba(255, 204, 0, 0.4),
    0 0 15px 5px rgba(255, 204, 0, 0.5), 0 0 30px 10px rgba(255, 180, 0, 0.4),
    0 0 45px 15px rgba(255, 150, 0, 0.3), 0 0 60px 20px rgba(255, 120, 0, 0.2);
  border: 3px solid rgba(255, 200, 0, 0.8);
}
.won-img {
  height: 100px;
  width: 100px;
}
.result-img {
  height: 300px;
  width: 400px;
}
.play-again-em {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  outline: none;
  border-width: 0px;
  border-radius: 5px;
  color: #f9f9f9;
  background-color: #6676e2;
}
.si-div-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(116, 197, 229);
  padding: 20px;
  width: 500px;
  min-height: 325px;
  border-radius: 10px;
  align-self: center;
}
ol {
  list-style-type: decimal;
}
h2 {
  align-self: flex-start;
  margin-left: 25px;
  margin-bottom: 5px;
}
.close-button {
  align-self: flex-start;
  margin-left: 25px;
}
.game-over-banner {
  padding: 15px 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 100%;
  background-color: #8b0000;
  border: 3px solid #ff4500;
  font-weight: 500;
  font-family: Bree Serif;
  box-shadow: inset 0 0 10px rgba(255, 69, 0, 0.6),
    0 0 15px rgba(255, 69, 0, 0.8), 0 0 30px rgba(255, 0, 0, 0.6);

  color: rgba(255, 200, 0, 0.8);
  font-size: 2.5em;
  text-shadow: 0 0 8px #ff6347, 0 0 15px #ff0000;
}
.power-up-banner {
  padding: 15px 30px;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #008080;
  border: 3px solid #00ffff;
  font-family: Bree Serif;
  font-weight: 500;
  box-shadow: inset 0 0 10px rgba(0, 255, 255, 0.6),
    0 0 15px rgba(0, 255, 255, 0.8), 0 0 30px rgba(0, 191, 255, 0.6);
  color: white;
  font-size: 2.5em;
  text-shadow: 0 0 8px #00ffff, 0 0 15px #00bfff;
}
.new-challenge {
  font-family: Bree Serif;
  color: #f9f9f9;
}
.game-won-banner {
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 2.5em;
  font-weight: 500;
  width: 100%;
  color: white;
  margin: 0 auto 20px;
  font-family: Bree Serif;
  background-color: #38761d;
  border: 3px solid #6aa84f;
  box-shadow: inset 0 0 10px rgba(106, 179, 64, 0.6),
    0 0 15px rgba(106, 179, 64, 0.8), 0 0 30px rgba(50, 205, 50, 0.6);

  text-shadow: 0 0 8px #90ee90, 0 0 15px #3cb371;
}
.perfect-score {
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 2.5em;
  font-weight: 500;
  color: white;
  margin: 0 auto 40px;
  font-family: Bree Serif;
  background-color: #4c5966;
  border: 3px solid #c0c0c0;
  box-shadow: inset 0 0 10px rgba(220, 220, 220, 0.6),
    0 0 15px rgba(192, 192, 192, 0.8), 0 0 30px rgba(240, 248, 255, 0.6);
  text-shadow: 0 0 8px #f5f5f5, 0 0 15px #dcdcdc;
}
.btns-result {
  display: flex;
  gap: 50px;
}
.next-level-button {
  padding: 12px 25px;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
  min-width: 125px;
  height: 42px;
  color: #4f4d4d;
  font-weight: bold;
  font-size: 13px;

  background-color: #ffc300;
  border: 3px solid #ff8c00;
  box-shadow: inset 0 0 5px rgba(255, 255, 0, 0.8),
    0 0 10px rgba(255, 165, 0, 0.7), 0 0 20px rgba(255, 140, 0, 0.5);
  transition: all 0.2s ease-in-out;
}
