.ltype-div1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #1c1f24;
  min-height: 100vh;
}
.ltype-div2 {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 70vh;
  padding: 5vh;
  background-color: #585858;
  border-radius: 20px;
}
.ltype-h1 {
  color: #f5a623;
  font-size: 40px;
  margin-bottom: 30px;
}
.choose-level-no {
  margin-bottom: 20px;
  color: #f9f9f9;
  font-weight: 500;
  align-self: center;
}
.ul-numbers {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 50px;
  padding: 0px;
}
.li-numbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.num-level-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: #3d3d3d;
  border: 2px solid #616161;
}
.num-level-div:hover {
  border: 2px solid #f5a623;
  scale: 1.05;
}
.number-level {
  font-size: 50px;
  color: #f9f9f9;
  font-weight: 500;
}
.link-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #2e333a;
  border-radius: 10px;
  border: 1px solid #444a52;
  width: 225px;
  height: 60px;
  color: #f9f9f9;
  text-decoration: none;
  font-size: 20px;
  margin-top: 50px;
  font-weight: 500;
}
.link-mode:hover {
  background-color: #444a52;
  scale: 1.02;
}
.level-para {
  font-size: 20px;
  color: #f5a623;
  margin-top: 20px;
}
