/* Write your code here. */
.eg-container1 {
  background: linear-gradient(to bottom, #9796f0, #fbc7d4);
  height: 100vh;
}
.eg-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ulist1 {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  list-style-type: none;
  margin-top: 15px;
}
