.search-nbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(167, 164, 164, 0.15);
  height: 60px;
  width: 100vw;
  padding-left: 1vw;
  padding-right: 1vw;
}
.tries-left-h3 {
  color: #f9f9f9;
}
.make-inline {
  color: #f9f9f9;
}
.tabs-div {
  display: flex;
  align-items: center;
  margin-left: 675px;
  gap: 20px;
  width: 100%;
}
.h1-emoji-game {
  width: 200px;
}
