.list1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-shrink: 1;
  border: 3px solid #ffffff30;
  background-color: #ffffff33;
  border-radius: 20px;
  cursor: pointer;
  margin: 0px;
}
.li-emoji {
  height: 50%;
  align-self: center;
}
.noBg-btn {
  background: none;
  border-width: 0px;
  outline: none;
  cursor: pointer;
}
