/* Write your code here. */
.nb-container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #9796f0;
  color: #ffffff;
  font-weight: 500;
}
.nb-container1-condition {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 250px;
  background-color: #9796f0;
  color: #ffffff;
  font-weight: 500;
}
.nb-container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.p-align1 {
  margin-right: 20px;
}
.h1-emoji-game {
  font-size: 20px;
}
.emoji-logo {
  height: 40px;
}
