.game-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: 325px;
  width: 230px;
  background-color: #ffcc33;
  border-radius: 15px;
  box-shadow: 0px 0px 1px 1px #8a8a8b;
}

.game-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
}

.game-tt {
  display: block;
  color: #ffffff;
  font-size: 30px;
  font-weight: 800;
  text-shadow:
    -1px -1px 0 #3f51b5,
    1px -1px 0 #3f51b5,
    -1px 1px 0 #3f51b5,
    1px 1px 0 #3f51b5,
    0px 6px 15px rgba(0, 0, 0, 0.3);
}
.game-tb {
  display: block;
  font-size: 30px;
  font-weight: 800;
  color: #ffcc33;
  text-shadow:
    -1px -1px 0 #3f51b5,
    1px -1px 0 #3f51b5,
    -1px 1px 0 #3f51b5,
    1px 1px 0 #3f51b5,
    0px 6px 15px rgba(0, 0, 0, 0.35);
  margin-top: -10px;
}
.image-em {
  height: 150px;
  width: 150px;
  align-self: center;
}
.play-em {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border-width: 0px;
  background-color: #27be4b;
  outline: none;
  margin-top: 10px;
  color: #f9f4f4;
}
