.mnb-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background: linear-gradient(to bottom, #8d8bf2);
  padding: 5px;
  padding-left: 30px;
  margin-bottom: 10px;
}
.em-img {
  height: 40px;
  width: 85px;
}
.rt-em-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.tab-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15vw;
}
.inst-list {
  list-style: none;
  padding-left: 0;
  line-height: 1.6;
}
.link-home {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
}
.inst-list li {
  margin: 8px 0;
}
.si-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #000;
  padding-top: 5px;
  font-size: 15px;
}
.si-btn:hover {
  transform: none;
}
.make-inline {
  padding-left: 5px;
  display: inline;
}
