.list1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100px;
  height: 100px;
  border: 3px solid #ffffff30;
  background-color: #ffffff33;
  border-radius: 20px;
  cursor: pointer;
  margin: 0px;
  margin-bottom: 10px;
}
.li-emojii {
  height: 10vh;
  align-self: center;
}
.noBg-btn {
  background: none;
  border-width: 0px;
  outline: none;
  cursor: pointer;
}
